<header class="site-header" id="siteHeader">
    <div class="container header-inner">
        <a href="index.html" class="brand">
            <img src="dragon.png" alt="" class="brand-dragon">
            <img src="logo.png" alt="שאי-הון" class="brand-logo">
        </a>
        <nav class="nav" aria-label="ניווט ראשי">
            <button class="nav-toggle" id="navToggle" aria-expanded="false" aria-controls="navList" aria-label="פתיחת תפריט">
                <span></span><span></span><span></span>
            </button>
            <ul class="nav-list" id="navList">
                <li><a href="index.html" {{#if home}}class="is-active"{{/if}}>בית</a></li>
                <li><a href="about.html" {{#if about}}class="is-active"{{/if}}>מי אנחנו</a></li>
                <li><a href="locations.html" {{#if locations}}class="is-active"{{/if}}>מאמנים</a></li>
                <li><a href="events.html" {{#if events}}class="is-active"{{/if}}>אירועים</a></li>
                <li><a href="courses.html" {{#if courses}}class="is-active"{{/if}}>קורסים</a></li>
                <li><a href="shop.html" {{#if shop}}class="is-active"{{/if}}>חנות</a></li>
            </ul>
        </nav>
    </div>
</header>
